.navbar-dark .btn {
  font-weight: bold;
  
}

.navbar-dark .btn:hover {
  background-color: #f8f9fa;
  color: #212529;
  transition: background-color 0.3s ease;
}

.carousel-container {
  max-width: 100%;
}

.carousel-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-caption h3 {
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.carousel-caption p {
  font-size: 1.25rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


body, html {
  margin: 0;
  padding: 0;
}

.hero-section {
  padding: 100px 0;
  background-color: #f8f9fa;
 
  
}

.hero-section .text-container {
  max-width: 550px;
  margin: 0 auto;  /* Centre le texte horizontalement */
}

.hero-section h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  color: #555;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hero-section .btn {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
}

.hero-section .btn-outline-dark {
  border: 2px solid black;
}
/* Styles pour la page FAQ */
.faq-container {
  padding: 40px 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.faq-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #333;
}

.faq-item {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.faq-question {
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 10px;
}

.faq-answer {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
}

/* Ajoute de l'espace autour de la page */
@media (max-width: 768px) {
  .faq-container {
    padding: 20px 10px;
  }

  .faq-title {
    font-size: 2rem;
  }

  .faq-question {
    font-size: 1.3rem;
  }

  .faq-answer {
    font-size: 1rem;
  }
}

/* Styles globaux pour la page À propos */
.apropos {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.apropos h1 {
  color: #333;
  font-size: 2.5rem;
}

.apropos p {
  line-height: 1.6;
  margin-bottom: 15px;
}

/* Styles pour la page Contact */
.contact {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  

.contact form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}
.contact-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.contact label {
  margin-bottom: 10px;
  font-weight: bold;
}

.contact input, .contact textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}
.contact-form textarea, .contact-form label {
  width: 100%;
}
